.photography__blog {
  width: 100%;
  margin: 4rem 0 8rem 0;
  padding: 0 2rem;
  font-family: var(--font-family);
  color: rgb(43, 43, 43);
}
.photography__blog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.photography__blog-container_post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #c0bfbf;
  border-radius: 5px;
  max-width: 1200px;
  padding: 2rem;
  /* https://shadows.brumm.af/ */
  box-shadow: 0.8px 0px 10px rgba(0, 0, 0, 0.035),
    6px 0px 80px rgba(0, 0, 0, 0.15);
  background: #f3f3f3;
}
.photography__blog-container_post img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.photography__blog-container_post .post-date {
  text-align: center;
  opacity: 0.75;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.photography__blog-container_post .post-title {
  text-align: center;
  font-size: 26px;
  word-spacing: 2px;
  font-weight: 600;
  color: rgb(43, 43, 43);
}
.photography__blog-container_post .title-bar {
  width: 100px;
  background: black;
  opacity: 0.4;
  height: 3px;
  margin: 1rem 0;
}
.photography__blog-container_post .post-description {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding: 0 4rem;
}
.photography__blog-container_post button {
  border: none;
  background: var(--color-footer);
  color: #fff;
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.photography__blog-container_post button:hover {
  opacity: 0.9;
}
@media only screen and (max-width: 780px) {
  .photography__blog-container_post .post-date {
    font-size: 14px;
  }
  .photography__blog-container_post .post-title {
    font-size: 24px;
  }
  .photography__blog-container_post .title-bar {
    width: 80px;

    margin: 0.5rem 0;
  }
  .photography__blog-container_post .post-description {
    font-size: 16px;
    line-height: 28px;
  }
  .photography__blog-container_post button {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .photography__blog {
    margin: 4rem 0;
  }
  .photography__blog-container_post {
    gap: 0.5rem;
    padding: 1rem;
  }
  .photography__blog-container_post .post-date {
    font-size: 12px;
  }
  .photography__blog-container_post .post-title {
    font-size: 20px;
    padding: 0 0.5rem;
  }
  .photography__blog-container_post .title-bar {
    width: 40px;
  }
  .photography__blog-container_post .post-description {
    font-size: 14px;
    line-height: 24px;
    padding: 0 2rem;
  }
  .photography__blog-container_post button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 16px;
  }
}
@media only screen and (max-width: 380px) {
  .photography__blog {
    margin: 4rem 0;
    padding: 0 1rem;
  }
  .photography__blog-container {
    gap: 3rem;
  }

  .photography__blog-container_post .post-description {
    padding: 0 1rem;
  }
  .photography__blog-container_post button {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
}
