@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --font-family: "Manrope", sans-serif;
  --color-featured: linear-gradient(180deg, #3f5fa5 0%, #0f1829 100%);
  --color-cta: linear-gradient(180deg, #2d61a0 0%, #3c2692 100%);
  --filter-cta: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
  --color-footer: #32629d;
  --color-half-footer: #d9d9d9;
  --color-menu: linear-gradient(
    90deg,
    rgba(15, 106, 151, 0.778) 41%,
    rgba(2, 71, 111, 0.837) 100%
  );
}
